In [5]:
import pandas as pd
from io import StringIO

#Transformando o arquivo dat em dataframe
txt = open('C:/Users/kalinx/Documents/Python Scripts/Projeto-AM/yeast1.dat', 'r')

dados = pd.DataFrame( 
    [[str(token) for token in line.split()]  
        for line in txt if line.strip()],
     columns = ["Linha", "nuc", "vac", "pox", "erl", "mit", "alm", "gvh", "mcg", "Sequence Name"]
)

In [6]:
#Excluindo a coluna "Linha"
dados = dados.drop('Linha', axis=1)

In [7]:
dados

       nuc   vac   pox   erl   mit   alm   gvh   mcg Sequence Name
0     0.58  0.61  0.47  0.13  0.50  0.00  0.48  0.22           MIT
1     0.43  0.67  0.48  0.27  0.50  0.00  0.53  0.22           MIT
2     0.64  0.62  0.49  0.15  0.50  0.00  0.53  0.22           MIT
3     0.58  0.44  0.57  0.13  0.50  0.00  0.54  0.22           NUC
4     0.42  0.44  0.48  0.54  0.50  0.00  0.48  0.22           MIT
...    ...   ...   ...   ...   ...   ...   ...   ...           ...
1479  0.81  0.62  0.43  0.17  0.50  0.00  0.53  0.22           ME2
1480  0.47  0.43  0.61  0.40  0.50  0.00  0.48  0.47           NUC
1481  0.67  0.57  0.36  0.19  0.50  0.00  0.56  0.22           ME2
1482  0.43  0.40  0.60  0.16  0.50  0.00  0.53  0.39           NUC
1483  0.65  0.54  0.54  0.13  0.50  0.00  0.53  0.22           CYT

[1484 rows x 9 columns]

In [11]:
#Importando bayes
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = dados['Sequence Name']
x = dados.drop('Sequence Name', axis=1)

x_treino, x_teste , y_treino, y_teste = train_test_split(x, y, test_size=0.3, random_state=7)
x_treino2, x_teste2 , y_treino2, y_teste2 = train_test_split(x, y, test_size=0.3, random_state=7)
x_treino3, x_teste3 , y_treino3, y_teste3 = train_test_split(x, y, test_size=0.3, random_state=7)

modelo = GaussianNB()
modelo2 = KNeighborsClassifier()
modelo3 = LogisticRegression()

modelo.fit(x_treino, y_treino)
modelo2.fit(x_treino2, y_treino2)
modelo3.fit(x_treino3, y_treino3)

resultado = modelo.score(x_teste, y_teste)
resultado2 = modelo2.score(x_teste2, y_teste2)
resultado3 = modelo3.score(x_teste3, y_teste3)

print(resultado*100)
print(resultado2*100)
print(resultado3*100)

12.556053811659194
55.15695067264574
53.81165919282511
C:\Users\kalinx\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(